In [2]:
pip install 'pulsar-client==3.1.0'

Collecting pulsar-client==3.1.0
  Downloading pulsar_client-3.1.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 8.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: certifi in /opt/conda/lib/python3.11/site-packages (from pulsar-client==3.1.0) (2023.7.22)
Installing collected packages: pulsar-client
Successfully installed pulsar-client-3.1.0
Note: you may need to restart the kernel to use updated packages.

Receiving data and converting it to dictionary

In [24]:
import pulsar
import json

client = pulsar.Client('pulsar://172.17.0.2:6650')
consumer = client.subscribe('my-topic', subscription_name='kernelsub')


while True:
    msg = consumer.receive()
    try:
        if msg.data():
            data_dict = json.loads(msg.data().decode('utf-8'))
        else:
            print("Empty message")
    except json.JSONDecodeError as e:
        print(f"JSON parsing error {e}")
    
    consumer.acknowledge(msg)
    break
client.close()

Converting data back to pandas dataframme and saving it

In [25]:
import pandas as pd 
print(len(data_dict))
df = pd.DataFrame(data_dict)
df.to_csv('data_received.csv', index=False)

1500

In [26]:
df

        Name  Age                     Email           Last_login
0       Asia   57              Asia57@o2.pl  2018-05-04 18:48:28
1       Asia   64  Asia64@student.uw.edu.pl  2020-03-29 18:46:01
2       Adam   43              Adam43@o2.pl  2017-02-08 23:27:08
3       Adam   25  Adam25@student.uw.edu.pl  2015-03-17 17:50:33
4       Brad   48          Brad48@yahoo.com  2019-04-25 04:55:38
...      ...  ...                       ...                  ...
1495    Asia   48  Asia48@student.uw.edu.pl  2022-03-19 18:33:45
1496    Asia   51          Asia51@gmail.com  2018-09-28 10:49:15
1497    Adam   45              Adam45@o2.pl  2015-09-28 19:57:26
1498    Asia   19          Asia19@yahoo.com  2019-09-17 22:18:45
1499  Wojtek   56        Wojtek56@yahoo.com  2018-05-31 05:31:49

[1500 rows x 4 columns]