# Importing libraries

In [5]:
import pandas as pd
import numpy as np
import random

In [10]:
data = pd.DataFrame()

Setting up some varaibles which will act as a seed for data

In [7]:
name_list = ['Adam','Kuba','Wojtek','Asia','Anna','Brad']
email_list = ['@gmail.com', '@yahoo.com', '@o2.pl', '@student.uw.edu.pl']

Data created will have the column with last login data, \
The function will create random data in given data frame

In [11]:
from random import randrange
from datetime import timedelta, datetime

def random_date():
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    d1 = datetime.strptime('1/1/2015 1:30 PM', '%m/%d/%Y %I:%M %p')
    d2 = datetime.strptime('1/1/2023 4:50 AM', '%m/%d/%Y %I:%M %p')
    
    delta = d2 - d1
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return d1 + timedelta(seconds=random_second)

# Creating data

In [12]:
names = []
ages = []
emails = []
login = []
for _ in range(15000):
    name = random.choice(name_list)
    age = random.randint(10,99)
    email = name + str(age) + random.choice(email_list)
 
    names.append(name)
    ages.append(age)
    emails.append(email)
    login.append(random_date())

data['Name'] = names
data['Age']  = ages
data['Email'] = emails
data['Last_login'] = login

saving data to csv file

In [14]:
data.to_csv('data.csv', index=False)

In [13]:
data

         Name  Age                       Email          Last_login
0        Anna   89    Anna89@student.uw.edu.pl 2021-06-14 15:46:52
1        Asia   84            Asia84@gmail.com 2020-10-04 03:32:38
2      Wojtek   49              Wojtek49@o2.pl 2022-03-18 16:55:40
3        Brad   53                Brad53@o2.pl 2018-02-28 00:35:37
4        Anna   30            Anna30@yahoo.com 2017-04-12 17:30:18
...       ...  ...                         ...                 ...
14995    Adam   94            Adam94@yahoo.com 2015-09-18 17:55:45
14996  Wojtek   19          Wojtek19@yahoo.com 2021-01-06 12:06:52
14997    Anna   24            Anna24@yahoo.com 2021-02-19 21:22:41
14998    Brad   80    Brad80@student.uw.edu.pl 2020-02-04 02:36:40
14999  Wojtek   37  Wojtek37@student.uw.edu.pl 2016-05-26 00:52:14

[15000 rows x 4 columns]